<div id="footer">
  <div class="container">
    
    <div class="row footer-first-row">
      
      <div class="col-xs-12 text-left">
        <p><small>
          Copyright &copy; <%= link_to "WHOmentors.com, Inc.", "http://WHOmentors.com" %>, Tech Startup Area, California
          <br/>
          
        </small></p>
      </div>
      
    </div>
    
  </div>
</div>